################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solutions/Solutions/bin/Debug/net8.0
/Solutions/Solutions/obj/Debug/net8.0
/Solutions/Solutions/obj
